---
http_interactions:
- request:
    method: get
    uri: http://libsvr35.lib.virginia.edu/geonetwork/srv/en/csw?acceptFormats=application/xml&acceptVersions=2.0.2&request=GetCapabilities&service=CSW
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<csw:Capabilities xmlns:csw=\"http://www.opengis.net/cat/csw/2.0.2\"
        xmlns:gml=\"http://www.opengis.net/gml\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\"
        xmlns:ows=\"http://www.opengis.net/ows\" xmlns:ogc=\"http://www.opengis.net/ogc\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        version=\"2.0.2\" xsi:schemaLocation=\"http://www.opengis.net/cat/csw/2.0.2
        http://schemas.opengis.net/csw/2.0.2/CSW-discovery.xsd\">\r\n  <ows:ServiceIdentification>\r\n
        \   <ows:Title />\r\n    <ows:Abstract />\r\n    <ows:Keywords>\r\n      <!--
        Keywords are automatically added by GeoNetwork\n            according to catalogue
        content. -->\r\n      <ows:Keyword>roads</ows:Keyword>\r\n      <ows:Keyword>Virginia</ows:Keyword>\r\n
        \     <ows:Keyword>Historic</ows:Keyword>\r\n      <ows:Keyword>McGregor</ows:Keyword>\r\n
        \     <ows:Keyword>streets</ows:Keyword>\r\n      <ows:Keyword>streams</ows:Keyword>\r\n
        \     <ows:Keyword>rivers</ows:Keyword>\r\n      <ows:Keyword>North America</ows:Keyword>\r\n
        \     <ows:Keyword>railroads</ows:Keyword>\r\n      <ows:Keyword>buildings</ows:Keyword>\r\n
        \     <ows:Type>theme</ows:Type>\r\n    </ows:Keywords>\r\n    <ows:ServiceType>CSW</ows:ServiceType>\r\n
        \   <ows:ServiceTypeVersion>2.0.2</ows:ServiceTypeVersion>\r\n    <ows:Fees
        />\r\n    <ows:AccessConstraints />\r\n  </ows:ServiceIdentification>\r\n
        \ <ows:ServiceProvider>\r\n    <ows:ProviderName>GeoNetwork opensource</ows:ProviderName>\r\n
        \   <ows:ProviderSite xlink:href=\"http://libsvr35.lib.virginia.edu:8080/geonetwork\"
        />\r\n    <ows:ServiceContact>\r\n      <ows:IndividualName />\r\n      <ows:PositionName
        />\r\n      <ows:ContactInfo>\r\n        <ows:Phone>\r\n          <ows:Voice
        />\r\n          <ows:Facsimile />\r\n        </ows:Phone>\r\n        <ows:Address>\r\n
        \         <ows:DeliveryPoint />\r\n          <ows:City />\r\n          <ows:AdministrativeArea
        />\r\n          <ows:PostalCode />\r\n          <ows:Country />\r\n          <ows:ElectronicMailAddress
        />\r\n        </ows:Address>\r\n        <ows:HoursOfService />\r\n        <ows:ContactInstructions
        />\r\n      </ows:ContactInfo>\r\n      <ows:Role />\r\n    </ows:ServiceContact>\r\n
        \ </ows:ServiceProvider>\r\n  <ows:OperationsMetadata>\r\n    <ows:Operation
        name=\"GetCapabilities\">\r\n      <ows:DCP>\r\n        <ows:HTTP>\r\n          <ows:Get
        xlink:href=\"http://libsvr35.lib.virginia.edu:8080/geonetwork/srv/en/csw\"
        />\r\n          <ows:Post xlink:href=\"http://libsvr35.lib.virginia.edu:8080/geonetwork/srv/en/csw\"
        />\r\n        </ows:HTTP>\r\n      </ows:DCP>\r\n      <ows:Parameter name=\"sections\">\r\n
        \       <ows:Value>ServiceIdentification</ows:Value>\r\n        <ows:Value>ServiceProvider</ows:Value>\r\n
        \       <ows:Value>OperationsMetadata</ows:Value>\r\n        <ows:Value>Filter_Capabilities</ows:Value>\r\n
        \     </ows:Parameter>\r\n      <ows:Constraint name=\"PostEncoding\">\r\n
        \       <ows:Value>XML</ows:Value>\r\n      </ows:Constraint>\r\n    </ows:Operation>\r\n
        \   <ows:Operation name=\"DescribeRecord\">\r\n      <ows:DCP>\r\n        <ows:HTTP>\r\n
        \         <ows:Get xlink:href=\"http://libsvr35.lib.virginia.edu:8080/geonetwork/srv/en/csw\"
        />\r\n          <ows:Post xlink:href=\"http://libsvr35.lib.virginia.edu:8080/geonetwork/srv/en/csw\">\r\n
        \           <ows:Constraint name=\"PostEncoding\">\r\n              <ows:Value>XML</ows:Value>\r\n
        \             <ows:Value>SOAP</ows:Value>\r\n            </ows:Constraint>\r\n
        \         </ows:Post>\r\n        </ows:HTTP>\r\n      </ows:DCP>\r\n      <ows:Parameter
        name=\"typeN[...]
- request:
    method: get
    uri: http://libsvr35.lib.virginia.edu/geonetwork/srv/en/csw?request=GetCapabilities&service=CSW
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<csw:Capabilities xmlns:csw=\"http://www.opengis.net/cat/csw/2.0.2\"
        x[...]
